{% extends 'base.html' %}
{% load static %}
  {% block content %}

    <title>login</title>
</head>
<body style="background-color:darkolivegreen">
<h1>Login</h1>
<form action=" " method="POST">
{% csrf_token %}

<input type="text" name="username" placeholder="enter your name">
    <br>
    <br>
<input type="password" name="password" placeholder="enter your password">
<br>
    <br>
<input type="submit">
    <br>
    <br>
    <a href="{% url 'schoolapp:register' %}">Register Here</a><br>
</form>
</body>
</html>
{% endblock %}